
<h2>My heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" 

    [class.selected] = "hero == selectedHero"
    (click)="onSelect(hero)">
    <!-- each hero goes here -->
    <span class="badge">{{hero.id}}</span>

    {{hero.name}}
  </li>
 </ul>

 <div *ngIf="selectedHero != null">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
